html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: rgb(245, 245, 245);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: rgb(128, 128, 128);
    background: black;
  }
}

.title {
  background-color: red;
  color: #ffffff;
  margin-top: 0;
  padding: 0.2em;
  text-align: center;
}
.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2em;
}
.race-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20em;
  background: #ffffff;
  border: 4px red solid;
  border-top-left-radius: 3em;
  border-top-right-radius: 3em;
}
.race-card_date {
  color: #464646;
  font-weight: 900;
  font-size: 18px;
}
.race-card_venue {
  width: 100%;
  text-align: center;
  background-color: red;
  color: #ffffff;
  margin: 0;
}
